/* style.css */

#sketch-holder {
  position: sticky;
  margin-top: 15px;
  top: 25px;
}

html, body {
  height: 100%;
}

body {
  margin-top: 10px;
}

h2 {
	margin-top:10px;
}

.alt-text {
    font-size: 0.75em;
    color: #898570;
}

.btn-group {
    border-radius: 5px;
    padding: 5px;
}

.btn-show-colors {
    background-color: #cccccc;
}

.form-rounded {
    border: 1px solid #888888;
    border-radius: 5px;
    margin-top: 5px;
    padding: 10px;
}

.btn-add-color {
	margin-bottom: 5px;
}

.colorpicker-component {
	margin-top: 5px;
}

.initially-hidden {
    display: none;
    font-size: .75em;
}

.input-number {
    width: 70px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-25 {
    padding-bottom: 25px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.colorset-1 {
    color: #000000;
}

.opacity-03 {
    opacity: 0.3;
    filter: alpha(opacity=30); /* For IE8 and earlier */
}

.opacity-05 {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.opacity-06 {
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

.opacity-07 {
     opacity: 0.7;
     filter: alpha(opacity=70); /* For IE8 and earlier */
}

.opacity-09 {
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}

.opacity-10 {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.opacity-box {
    position: absolute;
    left: 100px;
}

.parameters-ui {
    overflow-y:scroll; 
    height:400px;"
}