/* style.css */

html, body {
  height: 100%;
}

body {
  margin-top: 10px;
}

h2 {
	margin-top:10px;
}

.btn-group {
    border-radius: 5px;
    padding: 5px;
}

.btn-show-colors {
    background-color: #cccccc;
}

/*.sketch-holder {*/
    /*margin-top:5px;*/
    /*position: -webkit-sticky;*/
    /*position: sticky;*/
    /*top: 15px;*/
/*}*/


.form-rounded {
    border: 1px solid #888888;
    border-radius: 5px;
    margin-top: 5px;
    padding: 10px;
}

.btn-add-color {
	margin-bottom: 5px;
}

.colorpicker-component {
	margin-top: 5px;
}